* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins",poppins;
}

.wrapper {
  width: 375px;
}
  .header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: auto;
  padding: 30px 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-left: 12px;
  margin-top: 4px;
}

.nav {
  padding: 8px;
}
    
.menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  color: #6070ff;
  cursor: pointer;
}
  
.section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 114px 24px;
  gap: 12px;
}
  
.ul {
  list-style: none;
}
 
.headline {
  display: flex;
  flex-direction: column;
  background-image: url("images/header-shapes mobile.png");
  border-bottom-left-radius: 10px;
}
  
.headline-2 {
  display: flex;
  flex-direction: column;
  background-image: none;
  border-bottom-left-radius: 60px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}
  
.details {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}
  
.social-media {
  margin-left: 12px;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 30px;
}
  
.contact-title {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  margin-left: 12px;
  color: #6070ff;
  border-bottom-left-radius: 60px;
}
